body {
	font-family: Arial, SimSun, "SimSun-ExtB", "KaiXinSong", "TH-Tshyn-P2";
}
.title {
	margin: 10px;
}
input {
	width: 50%;
	max-width: 500px;
	height: 36px;
	padding: 8px;
}
button {
	width: 72px;
	height: 36px;
}
#result {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 20px;
}
#result ul {
	padding: 0 1em;
	margin: 5px 0;
}
#result li {
	list-style: none;
	padding: 5px 2px;
}
r, .small {
	font-size: 80%;
}
c {
	display: block;
	font-size: 95%;
	margin-top: 1px;
	padding-left: 1em;
}
d {
	/*font-size: 1.1em;*/
	/*font-weight: bold;*/
}
py {
	margin-left: 0.5em;
	/*font-family: Arial;*/
	font-size: 95%;
	color: #555;
}
ps {
	font-size: 85%;
	border: 1px solid;
	border-radius: 3px;
	margin: 0 2px;
	padding: 0 1px;
}
page {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	font-size: 90%;
	margin: 0 5px;
	border: 1px #888 solid;
}
.pages {
	text-align: center;
}
pages a {
	text-decoration: none;
}
page.sel {
	border: 0px;
}